*/.ssh/** filter=git-crypt diff=git-crypt
*/.tauri/** filter=git-crypt diff=git-crypt
*/.yarnrc filter=git-crypt diff=git-crypt
work/* filter=git-crypt diff=git-crypt
op/** filter=git-crypt diff=git-crypt
protonvpn/** filter=git-crypt diff=git-crypt
gh/** filter=git-crypt diff=git-crypt
