[include]
	path =	~/.dotfiles/personal/themes.gitconfig

[user]
	name = Justin Elmore
	email = jelmore1674@pm.me
	signingkey = jelmore1674@pm.me

[init]
	defaultBranch = main

[color]
	ui = auto

[core]
	autocrlf = input
	editor = nvim
	pager = delta
	excludesfile = ~/.gitignore_global


## Diff
[diff]
	tool = nvimdiff
	colorMoved = default

[difftool]
	prompt = false

[delta]
	navigate = true
	side-by-side = true
	line-numbers-right-format = "│ "
	line-numbers-left-format = ''

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictstyle = diff3

[alias]
	d = difftool

## GPG Key Signing
[commit]
	gpgsign = true

[tag]
	gpgSign = true

[gpg]
	program = /opt/homebrew/bin/gpg

[maintenance]
	repo = ~/Repos/znap
	repo = ~/Repos/marlonrichert/zsh-autocomplete

[submodule]
	recurse = true


