[user]
	name = Justin Elmore
	email = jelmore1674@pm.me
	signingkey = jelmore1674@pm.me
[init]
	defaultBranch = main
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = input
	editor = nvim

[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[alias]
	d = difftool

[commit]
	gpgsign = true

[tag]
	gpgSign = true

## GPG Key Signing
[commit]
	gpgsign = true

[tag]
	gpgSign = true

[init]
	defaultBranch = main

[color]
	ui = auto

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
	autocrlf = input
	editor = nvim
	pager = delta
	excludesfile = /Users/jelmore/.gitignore_global

[delta]
    navigate = true
    side-by-side = true
    line-numbers-right-format = "│ "
    line-numbers-left-format = ''

[diff]
	tool = nvim
	colorMoved = default

[difftool]
	prompt = false

[alias]
	d = difftool

[merge]
	conflictstyle = diff3

[interactive]
    diffFilter = delta --color-only

[maintenance]
	repo = /Users/jelmore/Repos/znap
	repo = /Users/jelmore/Repos/marlonrichert/zsh-autocomplete


