[user]
	name = Justin Elmore
	email = jelmore1674@pm.me
	signingkey = jelmore1674@pm.me
[init]
	defaultBranch = main
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = input
	editor = nvim

[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[alias]
	d = difftool

[commit]
	gpgsign = true

[tag]
	gpgSign = true
